@model IEnumerable<Movie.UI.Models.Film>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<form action="/Home/Index" method="post" >
    <div class="col-md-11">
        <div class="form-group">
            <input class="form-control" name="name" type="text">
            @*<input type="text" name="name" class="form-control" placeholder="Film Ara" />*@
        </div>
    </div>
    <div class="col-md-1"> <input type="submit" class="form-control" value="ARA" /></div>

</form>
@*</div>*@
<hr />

<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="col-lg-2">
                <h5>@item.title</h5>
                <img src="@item.poster" />
                <p>
                    @item.year <br />
                    @item.imdbID <br />
                    @item.type
                </p>
            </div>
        }
    }
</div>
<script>
    dataUpdate();
    function dataUpdate()
    {
        setInterval(getDataRefresh, 600000);
    }
    function getDataRefresh()
    {
        $.ajax({
            url: '/Home/UpdateData/',
            dataType: "json",
            type: "GET",
            success: function (data) {                
            }
        });
    }
</script>