@model IEnumerable<Movie.UI.Models.Film>
@{
    ViewBag.Title = "Home Page";
}


<form action="/Home/Index" method="post" style="padding:5%;">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">

            <input class="form-control" name="name" type="text">
            @*<input type="text" name="name" class="form-control" placeholder="Film Ara" />*@

        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"> 
            <input type="submit" class="form-control" value="ARA" />
        </div>
    </div>
</form>

<hr />

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ImdbID</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Type</th>
                <th scope="col">Poster</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td> @item.imdbID</td>
                        <td>@item.title</td>
                        <td>@item.year</td>
                        <td>@item.type</td>
                        <td ><img src="@item.poster" style="height:50px;width:40px" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
   
</div>
<script>
    dataUpdate();
    function dataUpdate() {
        setInterval(getDataRefresh, 600000);
    }
    function getDataRefresh() {
        $.ajax({
            url: '/Home/UpdateData/',
            dataType: "json",
            type: "GET",
            success: function (data) {
            }
        });
    }
</script>